/* Reseteo de márgenes y rellenos para todos los elementos */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Asegura que el tamaño de caja se calcula de manera consistente */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  
  /* Estilos para elementos de formulario, heredan la fuente del contenedor */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Ajustes de envoltura de texto para párrafos */
  p {
    text-wrap: pretty;
  }
  
  /* Ajustes de envoltura de texto para encabezados */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  
  /* Estilos para imágenes, videos y SVGs para mantener proporciones */
  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }
  
  /* Configuración para usuarios con preferencias de reducción de movimiento */
  @media (prefers-reduced-motion: reduce) {
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }
  
  
