.divisorMenuBorder {
    border-bottom: 1px solid #e2e2e22d;
    margin: auto 1rem;
}

.contenedorTituloMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTituloMenu a{
    padding: 20px 0px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTituloMenu h2 {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.contenedorUl {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 15px 0px;
}

.contenedorUl li {
    display: flex;
    padding: 5px 10px;
}


.contenedorUl a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    padding: 10px 0px;
    padding-left: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;    
}


.contenedorUl a:hover {
    /* color: black; */
    background: #cccccc59;

}